<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />

        <link rel="author" href="/about/people" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/ribbon.css" media="screen" />

        <title>Norfolk.js{{#if title}} - {{title}}{{/if}}</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-152x152-precomposed.png" />
        <link rel="icon" href="/favicon-096.png" />
        <!--[if IE]><link rel="shortcut icon" href="/favicon.ico" /><![endif]-->
        <meta name="msapplication-TileColor" content="#fcda3e" />
        <meta name="msapplication-TileImage" content="favicon-144-trans.png" />
        <meta
            name="description"
            content="Norfolk.js is a monthly meetup for JavaScript developers in the Norfolk, VA area."
        />
        <meta name="robots" content="index,follow" />

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                (i[r] =
                    i[r] ||
                    function () {
                        (i[r].q = i[r].q || []).push(arguments);
                    }),
                    (i[r].l = 1 * new Date());
                (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m);
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-49239066-1', 'norfolkjs.org');
            ga('send', 'pageview');
        </script>
    </head>

    <body>
        <span id="forkongithub"
            ><a href="/https://github.com/norfolkjs/norfolkjs.github.io">Fork me on GitHub</a></span
        >
        <header>
            <div class="container">
                <a href="/"><img src="/images/ninjacat_150.png" /></a>
                <h1>Norfolk.js</h1>
                <h2>JavaScript User Group in Norfolk, VA</h2>
                <a href="/about">About Us</a>
                <a href="/">Events</a>
                <a href="/blog">Blog</a>
                <a href="/sponsors">Sponsors</a>
                <a href="/nodebots">NodeBots</a>
                <a href="/contact">Contact Us</a>
            </div>
        </header>

        <div class="container">
            <section id="main_content">{{{content}}}</section>
        </div>

        <footer>
            <h2>Norfolk.js &copy; {{{dateFormat "YYYY"}}} all rights reserved.</h2>
            <h2>Brought to you by <a href="/about/people">proud ninjas</a>.</h2>
        </footer>
    </body>
</html>
