<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <title>Norfolk.js</title>
  </head>

<body>

{% include header.html %}

<div class="container">
  <section id="main_content">
    <h3>
      <a name="about" class="anchor" href="#about">
        <span class="octicon octicon-link"></span></a>About
    </h3>

  <p>NorfolkJs is a JavaScript development user group in Norfolk, VA.</p>

  <p>We want to get local developers together to consume pizza and beer and talk about anything and everything JavaScript.</p>

  <h3>
  <a name="meetups" class="anchor" href="#meetups"><span class="octicon octicon-link">
  </span></a>Meetups</h3>

  <p><a href="http://www.meetup.com/norfolkjs">
    http://www.meetup.com/norfolkjs</a></p>

  <h3>
    <a name="contact" class="anchor" href="#contact">
      <span class="octicon octicon-link">
    </span></a>Contact
  </h3>

  <p>Tweet us: <a href="https://twitter.com/norfolkjs"
    class="user-mention">@norfolkjs</a>
  </p>

  <h3>
    <a name="sponsor" class="anchor" href="#sponsor">
      <span class="octicon octicon-link">
    </span></a>Want to Sponsor a meetup or Speak?
  </h3>
  <p>Contact the organizers</p>
  <p>Travis Webb<a href="mailto: travis@tjwebb.com?subject=NorfolkJS"
    class="user-mention">@travis@traviswebb.com</a>
    Tweet us: <a href="https://twitter.com/traviswebbusa"
    class="user-mention">@traviswebbusa</a>
  </p>
  <p>Linda Nichols<a href="mailto:lynnaloo@gmail.com?subject=NorfolkJS"
    class="user-mention">@lynnaloo@gmail.com</a>
    Tweet us: <a href="https://twitter.com/lynnaloo"
    class="user-mention">@lynnaloo</a>
  </p>

  <h3>
  <a name="posts" class="anchor" href="#posts"><span class="octicon octicon-link"></span></a>Recent Posts</h3>

  <div class="posts">
    {% for post in site.posts %}
        <hr>
        <h3>{{ post.title }}</h3>
        <p>{{ post.date | date: '%B %d, %Y' }}</p>
        <p>{{ post.content }}</p>
    {% endfor %}
  </div>

  </section>
</div>

{% include footer.html %}

</body>
</html>
